.ta-countriesmap {
  &-tooltip {
    background-color: #BCDEDA;
    padding: 5px;

    &:after {
      box-sizing: border-box;
      display: inline;
      font-size: 10px;
      width: 100%;
      line-height: 1;
      color: #BCDEDA;
      position: absolute;
      pointer-events: none;
    }

    &.n:after {
      content: "\25BC";
      margin: -3px 0 0 0;
      top: 100%;
      left: 0;
      text-align: center;
    }
  }
}
